.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.nav-links-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 17px;
}

.nav-link {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (min-width: 380px) {
  .nav-link {
    padding: 10px 20px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .logo-container {
    width: 20%;
    padding: 10px;
  }

  .nav-links-container {
    width: 80%;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .nav-link {
    padding: 5px 10px;
    font-size: 13px;
  }
}
